.gameContainer{
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    text-align: center;
    padding: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.br{
    border-right: 0;
}
.bt{
    border-top: 0;
}
.bl{
    border-left: 0;
}
.bb{
    border-bottom: 0;
}
.line{
    background-color: black;
    height: 2px;
    position: absolute;
}
